.itemhomepage1 {
  padding: 10px;
}

.itemhomepage2 {
  background-color: #d3d3d3;
  box-shadow: 1px 1px 16px 1px rgba(49, 64, 48, 0.75);
  padding: 10px;
}

.itemhomepage3 {
  padding: 10px;
}

.homeparaph1 {
  font-size: 17px;
  font-weight: 400;
}

.homeparaph2 {
  font-size: 17px;
  font-weight: 400;
}

.homeparaph3 {
  font-size: 17px;
  font-weight: 400;
}

.homepage img {
  height: 300px;
  filter: drop-shadow(0 0 0.75rem #314030);
}
/* .imgHome1{
    height:10px;
    width:70vw;
    margin-bottom: 10px;
}
.imgHome2 {
    height: 10px;
    width: 70vw;
    margin-bottom: 10px;
}
.imgHome3 {
    height: 10px;
    width: 70vw;
    margin-bottom: 10px;
} */
@media screen and (min-width: 650px) {
  /* .imgHome1 {
    height: 10px;
    width: 90vw;
    margin-bottom: 10px;
    }

.imgHome2 {
    height: 10px;
    width: 90vw;
    margin-bottom: 10px;
    }

.imgHome3 {
    height: 10px;
    width: 90vw;
    margin-bottom: 10px;
    } */

  .itemhomepage1 {
    display: flex;
    flex-direction: row;
  }

  .homeparaph1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 25px;
  }

  .itemhomepage2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .homeparaph2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 25px;
  }

  .itemhomepage3 {
    display: flex;
    flex-direction: row;
  }

  .homeparaph3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 25px;
  }

  .homepage img {
    height: 600px;
  }
}
