.navRouter {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  transition: 0.6s;
}

a:hover {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  transition: 0.6s;
  background-color: #383e42;
  border-radius: 25% 10%;
  padding: 1rem;
}

.buttonStyle {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: #383e42;
  padding: 2rem;
  width: 100vw;
  position: fixed;
}

.CoqLogo {
  padding: 0em;
  position: fixed;
  left: 0;
  width: 5em;
  height: 5em;
  z-index: 12;
}

.menuBurger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
}

.burger {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 650px) {
  .navRouter {
    background-color: #383e42;
    width: 100%;
    height: 10rem;
  }

  /* .LogoText {
    width: 0.2em;
    height: 0.2em;
    position: static;
    padding-top: 1em; 
    height: 35%;
  }  */

  .DevLogo {
    padding: 0.2em;
    position: sticky;
    width: 150px;
    height: 150px;
  }

  /* .TextLogo {
    display: none; 
  }*/

  .buttonStyle {
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 0rem;
    transition: all 1.2s ease-out;
    background-color: #2b2c3659;
    padding-bottom: 0;
    visibility: hidden;
    backdrop-filter: blur(7px);
  }

  a {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  .showNav .buttonStyle {
    right: 0;
    width: 100vw;
    visibility: visible;
  }

  li:first-child {
    padding-top: 2rem;
  }

  li:last-child {
    padding-bottom: 2rem;
  }

  li {
    display: block;
    font-size: 5vw;
    /*test*/
    transform: translateX(100vh);
  }

  .showNav li {
    transform: translateX(0vh);
  }

  .menuBurger {
    top: 1rem;
    right: 1rem;
    position: fixed;
    display: block;
  }

  .menuBurger:hover {
    cursor: pointer;
  }

  .navBurger,
  .navBurger::before,
  .navBurger::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: white;
    transition: all 0.4s ease-in-out;
  }

  .navBurger::before,
  .navBurger::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .navBurger::before {
    transform: translateY(-12px);
    background: white;
  }

  .navBurger::after {
    transform: translateY(12px);
    background: white;
  }

  .showNav .navBurger::before {
    transform: rotate(45deg);
    background: white;
  }

  .showNav .navBurger::after {
    transform: rotate(-45deg);
    background: white;
  }

  .showNav .navBurger {
    background: transparent;
  }

  .buttonStyle span::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 8vw;
    height: 1px;
    background: white;
  }

  .slideInRight {
    transition: all 1s ease-out;
  }

  .slideInRight-2 {
    transition: all 1.2s ease-in-out;
  }

  .slideInRight-3 {
    transition: all 1.4s ease-in-out;
  }

  .slideInRight-4 {
    transition: all 1.2s ease-in-out;
  }

  .slideInRight-5 {
    transition: all 1s ease-in-out;
  }
}
